[
    {
        "Name": "cats",
        "Image": "quay.io/opsee/cats:${version}",
        "Memory": 256,
        "Essential": true,
        "Command": ["/run.sh"],
        "Environment": [
            { "Name": "APPENV", "Value": "${appenv}" },
            { "Name": "CATS_RESULTS_S3_BUCKET", "Value": "opsee-results-production" }
        ],
        "PortMappings": [{
            "hostPort": 9105,
            "containerPort": 9105,
            "protocol": "tcp"
        }],
        "LogConfiguration": {
            "LogDriver": "json-file"
        }
    }
]