[
    {
        "Name": "pracovnik",
        "Image": "quay.io/opsee/cats:${version}",
        "Memory": 128,
        "Essential": true,
        "Command": ["/run.sh", "pracovnik"],
        "Environment": [
            { "Name": "APPENV", "Value": "${appenv}" }
        ],
        "LogConfiguration": {
            "LogDriver": "syslog",
            "Options": {
                "syslog-address": "${syslog_address}",
                "tag": "${syslog_tag}",
                "syslog-tls-skip-verify": "true"
           }
        }
    }
]